@model RoleTopOficial.ViewModel.ClienteViewModel

<center>

  <table>
    <tr>
      <th>ID</th>
      <th>Dono do Evento</th>
      <th>Nome do Evento</th>
      <th>Data Do Evento</th>
      <th>Tipo De Evento</th>
      <th>Numero De Pessoas</th>
      <th>Situação</th>
      
    </tr>
  @foreach(var meuevento in @Model.Eventos)
  {
      <tr>
          <td class="Subsubtitulo">@meuevento.ID</td>
          <td class="Subsubtitulo">@meuevento.DonoDoEvento</td>
          <td class="Subsubtitulo">@meuevento.Nome</td>
          <td class="Subsubtitulo">@meuevento.DataDoEvento</td>
          <td class="Subsubtitulo">@meuevento.TipoDeEvento</td>
          <td class="Subsubtitulo">@meuevento.NumeroDePessoas</td>
          @switch(@meuevento.Status)
          {
              case 0:
                  <td class="Subsubtitulo">Pendente</td>
                  break;
              case 1:
                  <td class="Subsubtitulo">Aprovado</td>
                  break;
              case 2:
                  <td class="Subsubtitulo">Reprovado</td>
                  break;
          }


      </tr>
  }
  </table>
  <a asp-controller="Administrador" asp-action="Dashboard">
    <button class="BotaoNormal">Dashboard</button>
  </a>

</center>
